<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
  <style>
    html,
    body,
    pre,
    code,
    kbd,
    samp {
      font-family: 'Press Start 2P';
      font-size: 10px;
    }
  </style>
</head>
<br>
<h1 style="margin-left: 80px;" *ngIf="user$ |async as user">Bienvenido, {{user.displayName}}</h1>
<br>
<div class="row featurette">
  <div class="col-md-8">
    <div class="mx-auto container-fluid">
      <div id="unity-container" class="unity-desktop container-game">
        <canvas id="unity-canvas" width=700 height=400></canvas>
        <div id="unity-loading-bar">
          <div id="unity-logo"></div>
          <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
          </div>
        </div>
        <div id="unity-warning"> </div>
        <div id="unity-footer">
          <div id="unity-webgl-logo"></div>
          <div id="unity-fullscreen-button"></div>
          <div id="unity-build-title">Kumatz' 🐍</div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <img src="../../../assets/images/Movimiento.png" width="600" height="auto" class="img-fluid d-block mx-auto" style="margin-top: 350px;">
</div>

