<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

  <style>
    html,
    body,
    pre,
    code,
    kbd,
    samp {
      font-family: 'Press+Start+2P', sans-serif;
      font-size: 10px;

    }
  </style>
</head>

<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          The last grade
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <ng-template #home>
            <button type="button" mat-button routerLink="">
              <mat-icon class="bi d-block mx-auto mb-1" width="24" height="24">home</mat-icon>Inicio
            </button>
          </ng-template>
          </li>
          <li>
            <ng-container *ngIf="user$ | async as user; else home">
              <button type="button" mat-button routerLink="juego">
                <mat-icon class="bi d-block mx-auto mb-1" width="24" height="24">games</mat-icon>Jugar
              </button>
            </ng-container>
          </li>
          <li>
            <ng-container *ngIf="user$ | async as user; else register">
              <button type="button" mat-button routerLink="tabla">
                <mat-icon class="bi d-block mx-auto mb-1" width="24" height="24">table_view</mat-icon>
                Puntuaciones
              </button>
            </ng-container>
          </li>
          <li>
            <ng-container *ngIf="user$ | async as user; else loginButton">
              <button mat-button [matMenuTriggerFor]="userMenu">
                <img class="profile-image-toolbar bi d-block mx-auto mb-1" width="30" height="30" [src]="user.photoURL ?? '/assets/images/image-placeholder.png'" />
                {{user.displayName}}
                <mat-icon>expand_more</mat-icon>
              </button>
            </ng-container>
          </li>
          <li>
            <ng-template #loginButton>
              <button type="button" mat-button routerLink="login">
                <mat-icon class="bi d-block mx-auto mb-1" width="24" height="24">login</mat-icon> Ingresar
              </button>
            </ng-template>
          </li>
          <li>
            <ng-template #register>
              <button type="button" mat-button routerLink="registro">
                <mat-icon class="bi d-block mx-auto mb-1" width="24" height="24">co_present</mat-icon> Crear Cuenta
              </button>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/perfil">Editar mi perfil</button>
  <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
</mat-menu>
