
<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

  <style>
    html, body, pre, code, kbd, samp{
      font-family: 'Press Start 2P', cursive;
        font-size: 8px;
    }
</style>
</head>
<body>



  <div class="container">
    <img src="../../../assets/images/thelasgradt.png" height="340" width="350">


      <div class="login-wrapper">

        <form [formGroup]="loginForm" (ngSubmit)="submit()">

        <div class="input-box">
          <mat-form-field>
            <input  id="input1" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required']"><b>El email es requerido</b></mat-error>
            <mat-error *ngIf="email?.errors?.['email']"><b>Por favor ingrese un email valido</b></mat-error>
          </mat-form-field>
        </div>

        <div class="input-box">
          <mat-form-field>
            <input matInput placeholder="Contraseña" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']"><b>La contraseña es requerida</b></mat-error>
          </mat-form-field>
        </div>

        <button class="submit-btn" mat-raised-button color="primary" type="submit">
          Ingresar
        </button>
        <span  class="info">¿Nuevo en la plataforma? <a id="a" routerLink="/registro">!!!Registrate</a></span>

      </form>
      </div>


  </div>



  <div class="circulo"></div>
</body>
