@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* color variables  */

.circulo{
  background-color: rgb(255, 255, 255);
  width: 500px;
  height:500px;
  }

  .circulo{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 0;
position: absolute;
opacity: .3;
    }
:root {
  --primary-green: #2da44e;
  --primary-dark: #24292f;
  --primary-light: #ffffff;
  --fade-light: #f6f8fa;
  --border-color: rgb(141, 141, 141);
}

/* default properties  */
a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color:#1A1C2C;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 500px;
  align-items: center;
  background-color: #E09156;
  z-index: 2;
}

.login-wrapper {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 25px 15px;
  border-radius: 5px;
  background-color: var(--fade-light);
  margin-top: 0px;
  align-items: center;
}

.input-box {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;

}


.input-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
}

.mat-form-field {

  width: 100%;
  padding-right: 10px;
  margin:0px auto;
  color: #ffffff;
}

input {
  width: 100%;
  outline: none;
  margin-top: 5px;
  font-size: 16px;
  padding: 4px 6px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--primary-dark);
}

input:focus {
  border: 1px solid blue;
}

.submit-btn {
  width: 100%;
  padding: 5px 0px;
  font-size: 18px;
  background-color: #1A1C2C;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}

.submit-btn:hover {
  transform: translateY(-1px);
}

.info {
  font-size: 15px;
  margin-top: 35px;
  border: 1px solid var(--border-color);
  padding: 20px 15px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

#a{
  color: #01139e;
}

@media screen and (max-width: 360px) {
  body {
    padding: 0px 10px;
  }

  .info {
    font-size: 14px;
    padding: 17px 10px;
  }

  .input-label {
    font-size: 14px;
  }
}
