/* color variables  */

.circulo {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;
}

#prueba,
#prueba2,
#prueba3,
#input1 {
  font-size: 15px;
}

.imagen1 {
  position: absolute;
  top: 100px;
  left: 200px;
  animation: movimiento1 2.5s linear infinite;

  animation-delay: 700ms;
  z-index: 1;
}

.imagen2 {
  position: absolute;
  top: 350px;
  left: 950px;
  animation: movimiento2 3.5s linear infinite;

  animation-delay: 500ms;
  z-index: 1;
}

.imagen3 {
  position: absolute;
  top: 50px;
  left: 950px;
  animation: movimiento3 4s linear infinite;

  animation-delay: 400ms;
  z-index: 1;
}

.imagen4 {
  position: absolute;
  top: 350px;
  left: 150px;
  animation: movimiento4 4s linear infinite;

  animation-delay: 900ms;
  z-index: 1;
}

.circulo {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  opacity: .3;
}

:root {
  --primary-green: #2da44e;
  --primary-dark: #24292f;
  --primary-light: #ffffff;
  --fade-light: #f6f8fa;
  --border-color: rgb(141, 141, 141);
}

/* default properties  */
a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1A1C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

}



.container {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 500px;
  align-items: center;
  background-color: #E09156;
  z-index: 2;
}

.login-wrapper {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 25px 15px;
  border-radius: 5px;
  background-color: var(--fade-light);
  margin-top: 0px;
  align-items: center;
}

.input-box {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;

}


.input-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
}

.mat-form-field {

  width: 100%;
  padding-right: 10px;
  margin: 0px auto;
  color: #ffffff;
}

input {
  width: 100%;
  outline: none;
  margin-top: 5px;
  font-size: 16px;
  padding: 4px 6px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--primary-dark);
}

input:focus {
  border: 1px solid blue;
}

.submit-btn {
  width: 100%;
  padding: 5px 0px;
  font-size: 18px;
  background-color: #1A1C2C;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}

.submit-btn:hover {
  transform: translateY(-1px);
}

.info {
  font-size: 15px;
  margin-top: 35px;
  border: 1px solid var(--border-color);
  padding: 20px 15px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

#a {
  color: #01139e;
}

@media screen and (max-width: 360px) {
  body {
    padding: 0px 10px;
  }

  .info {
    font-size: 14px;
    padding: 17px 10px;
  }

  .input-label {
    font-size: 14px;
  }
}


@keyframes movimiento1 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(30px) rotate(10deg);
  }

  100%{
    transform: translateY(0);
  }

}


@keyframes movimiento2 {
  0%{
    transform: translateY(0) rotate(0deg);
  }
  50%{
    transform: translateY(30px) rotate(10deg);
  }

  100%{
    transform: translateY(0) rotate(0deg);
  }

}
@keyframes movimiento3 {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px)  rotate(10deg);
  }

  100%{
    transform: translateY(0);
  }

}
@keyframes movimiento4 {
  0%{
    transform: translateY(0) rotate(20deg);
  }
  40%{
    transform: translateY(30px)  rotate(10deg);

  }

  80%{
    transform: translateY(60px)  rotate(15deg);

  }

  100%{
    transform: translateY(0) rotate(20deg);
  }

}



.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.877);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
